<div class="container">
    <div id="header" class="row header-container">
        <div class="col-md-9 col-lg-8">
            <h1>Conor Maley's Home Page</h1>
            <h2>Software Engineer</h2>
        </div>
        <div class="col-md-3 col-lg-4 d-none d-md-block">
            <div class="">
                <!--this works as a 200x200 pic just fyi-->
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEKB1w1Xdyw_w/profile-displayphoto-shrink_200_200/0?e=1587600000&v=beta&t=_kZ34aFKTKt4alnWLsQvC40fKmZDHr2tPR6ehD9qDMI"/>
            </div>
        </div>
    </div>
    <div id="intro">
        <p>Hi! I'm Conor and welcome to my sandbox. You can read about me on this page or you can use the links at the top to check out some of the things I've put together.</p>
    </div>

    <div class="" id="readingMaterial">
        <div class="">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#aboutMe">About Me</button>
            <div class="collapse" id="aboutMe">
                <div class="card card-body">
                    Todo
                </div>
            </div>
        </div>
    </div>
</div>