div {
	padding: 10px;
}

.week-container {
	display: flex;
	justify-content: center;
}

.week-header {
	text-align: center;
}

.game-container {
	display: flex;
	justify-content: space-between;
}

.home-team {
	width: 170px;
}

.away-team {
	width: 170px;
	text-align: right;
}